.hero {
  position: relative;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 30rem;
    background-image: linear-gradient(to bottom, #000000c4, #00000000);
    z-index: 1;
  }
}

.hero__preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards;
  z-index: 10;

  &--left {
    animation-name: bg-left;
    animation-delay: 0.7s;
    animation-timing-function: ease-in;
    animation-duration: 1.2s;
  }

  &--right {
    inset-inline-start: -0.1rem;
    transform-origin: right;
    animation-name: bg-right;
    animation-timing-function: ease-out;
    animation-duration: 1.6s;
    animation-delay: 0.3s;

    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.15));
  }
}

.hero__seal {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.hero .container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.hero__title {
  position: relative;
  z-index: 1;
  font-family: $font-decorative;
  padding-block-start: 7rem;
  font-weight: 400;
  font-size: 7rem;
  line-height: 0.6;
  color: #fff;

  display: grid;
  grid-gap: 1.5rem;

  &--boy {
    margin-inline-start: 6rem;
  }

  &--sign {
    position: absolute;
    inset-block-end: 7rem;
    inset-inline-end: 13.2rem;
    width: 7rem;
  }

  &--girl {
    margin-inline-start: 12rem;
  }
}

.hero__image {
  position: absolute;
  inset: 0;

  &-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
  }
}

@keyframes bg-right {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(-90deg);
  }
}

@keyframes bg-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
