.wishes {
  position: relative;
  padding-block: 8rem;
  color: #fff;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: -0.4rem;
    background-image: linear-gradient(to right, #373636c2, #373636c2), url(../img/meet-bg.JPG);
    background-repeat: no-repeat;
    background-size: auto, cover;
    background-position: center;
    filter: blur(0.4rem);
  }
}

.wishes__title {
  margin-block-end: 4rem;
}

.wishes__text {
  position: relative;
  line-height: 1.6;
  font-size: 1.6rem;
  text-align: center;
  padding-inline: 3rem;
  margin-block-end: 10rem;

  &::before {
    content: '';
    position: absolute;
    inset-inline-start: 50%;
    inset-block-end: -5rem;
    transform: translateX(-50%);
    width: 15rem;
    height: 0.1rem;
    background-color: #fff;
  }

  &--last {
    margin-block-end: 0;

    &::before {
      display: none;
    }
  }
}

.wishes__letter {
  margin-inline: auto;
  margin-block-start: 3rem;
}
